.intro {
  display: flex;
  flex-direction: column;
  color: $text-color-base;
  min-height: 800px;
}

.intro__wrapper {
  display: flex;
  flex-direction: column;
  padding: 100px 187px;
  flex-grow: 1;
  background-image: image-set("../../src/images/bg-intro@1x.webp" 1x type("image/webp"), "../../src/images/bg-intro@2x.webp" 2x type("image/webp"));
  background-repeat: no-repeat;
  animation-name: opacity-intro, background-size-intro;
  animation-duration: 0.5s, 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@keyframes opacity-intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes background-size-intro {
  0% {
    background-size: 120%;
  }
  100% {
    background-size: 100%;
  }
}

.intro__header {
  font-size: 75px;
  line-height: 1.3;
  text-transform: uppercase;
  margin-top: auto;
}

.intro__header-wrapper {
  overflow: hidden;
}

.intro__header-line {
  display: inline-block;
}

.intro__header-line--accent {
  font-family: $font-primary-accent;
  font-weight: 500;
}

.intro__slogan {
  font-size: 18px;
  line-height: 1.24;
  opacity: 0.8;
  width: 607px;
  margin-top: 30px;
}
