section.advantages
  .advantages__wrapper
    h2.advantages__header <span class="advantages__header--accent">Достаточно</span> найти одну опорную стену
    .advantages__description-wrapper
      p.advantages__text Вертикальное озеленение – это инновационный способ интеграции природы в городскую среду.
      p.advantages__text Эти живые конструкции, состоящие из растений, закреплённых на вертикальных поверхностях, не только преображают внешний вид зданий и интерьеров, но и приносят ощутимую пользу: улучшают качество воздуха, снижают температуру окружающей среды, создают звукоизоляцию и, конечно, дарят эстетическое удовольствие, превращая бетонные стены в цветущие оазисы.
