header.header.wrapper
  .header__wrapper
    a.header__logo-image.logo-image(href ="#")
      span.logo-image__icon
    a.header__logo-text.logo-text(href ="#") Forrest
    nav.header__navigation.navigation
      ul.navigation__list.menu
        li.menu__item
          a.menu__link(href ="#") Услуги
        li.menu__item
          a.menu__link(href ="#") Поддержка
        li.menu__item
          a.menu__link(href ="#" aria-current="page") Компания
        li.menu__item
          a.menu__link(href ="#") Партнеры
        li.menu__item
          a.menu__link(href ="#") Портфолио
        li.menu__item
          a.menu__link(href ="#") Контакты
    button.header__toggle.button-toggle(type ="button")
      span.visually-hidden Дополнительная информация
