section.intro
  .intro__wrapper
    h1.intro__header Превращаем окружение<br><span class="intro__header--accent">В живые сады</span>
    p.intro__slogan Вертикальное озеленение для бизнеса. Преображаем бизнес центры, ТЦ, отели, рестораны и другие коммерческие помещения.
