section.intro
  .intro__wrapper
    h1.intro__header
      .intro__header-wrapper
        span.intro__header-line Превращаем окружение
      .intro__header-wrapper
        span.intro__header-line.intro__header-line--accent В живые сады
    p.intro__slogan Вертикальное озеленение для бизнеса. Преображаем бизнес центры, ТЦ, отели, рестораны и другие коммерческие помещения.
