section.support
  .support__wrapper
    h2.support__header
      .support__header-wrapper
        span.support__header-line <span class="support__header--accent">Eжемесячная</span>
      .support__header-wrapper
        span.support__header-line поддержка от нас
    p.support__text Ежемесячно проверяем состояние растений, бережно чистим от пыли и при необходимости заменяем растения.
    .support__buttons-wrapper
      button.support__support-button.support-button(href ="#")
        span.visually-hidden Получить консультацию
      button.support__support-button-text.support-button-text(href ="#") Консультация
