$font-primary: "Cormorant-Garamond", "Arial", serif;
$font-primary-accent: "Cormorant-Garamond-Italic", "Arial", serif;
$font-primary-bold: "Cormorant-Garamond-Bold", "Arial", serif;
$font-secondary: "Arial-Nova", "Arial", sans-serif;

$text-color-base: #ffffff;

$color-accent: #edece2;
$color-accent-2: #1c2500;
